doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/animate.min.css')
    link(rel='stylesheet', href='/stylesheets/circular-std/style.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  footer
    script(src='/javascripts/jquery.min.js', type='application/javascript', charset="UTF-8")
    script(src='/javascripts/popper.min.js', type='application/javascript', charset="UTF-8")
    script(src='/javascripts/bootstrap.min.js', type='application/javascript', charset="UTF-8")
    script(src='/javascripts/wow.min.js', type='application/javascript', charset="UTF-8")
    script(src='/javascripts/rebel.js', type='application/javascript', charset='UTF-8')
