doctype html
html
  head
    title= title
    link(rel="icon" type="image/png" href="/images/logo-icon.png")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/fontawesome/css/all.min.css')
    link(rel='stylesheet', href='/stylesheets/animate.min.css')
    link(rel='stylesheet', href='/stylesheets/circular-std/style.css')
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(id='page-top')
    block content
  footer
    script(src='/javascripts/jquery.min.js', type='application/javascript', charset="UTF-8")
    script(src='/javascripts/popper.min.js', type='application/javascript', charset="UTF-8")
    script(src='/javascripts/bootstrap.min.js', type='application/javascript', charset="UTF-8")
    script(src='/javascripts/wow.min.js', type='application/javascript', charset="UTF-8")
    script(src='/javascripts/jquery.easing.min.js', type='application/javascript', charset="UTF-8" )
    script(src='/javascripts/rebel.js', type='application/javascript', charset='UTF-8')
