@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "fontawesome/scss/fontawesome.scss"
@import "fontawesome/scss/regular.scss"
@import "fontawesome/scss/solid.scss"
@import "fontawesome/scss/brands.scss"
// CUSTOM
$color-fondo: rgb(250,250,250)
$color-marca: rgb(235,28,36)
$color-texto: rgb(78,76,77)
$navbar-height: 56px

body
  background-color: $color-fondo
