body {
  padding: 5rem 0rem 0rem 0rem; }
  @media (min-width: 992px) {
    body {
      padding: 0rem; } }

#mainNav {
  border-color: rgba(113, 113, 113, 0.1);
  background-color: #f81e26;
  -webkit-transition: all .35s;
  transition: all .35s;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 3rem 1rem; }
  #mainNav .navbar-brand {
    color: #f1f1f1;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    letter-spacing: 1px; }
    #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
      color: #c3060d; }
  #mainNav .navbar-toggler {
    font-size: 3rem;
    padding: 0px 10px;
    color: #f1f1f1; }
  #mainNav .navbar-nav > li > a {
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase; }
    #mainNav .navbar-nav > li > a.active {
      color: #c3060d !important;
      background-color: transparent; }
      #mainNav .navbar-nav > li > a.active:hover {
        background-color: transparent;
        color: #f1f1f1; }
    #mainNav .navbar-nav > li > a:focus {
      color: #c3060d; }
      #mainNav .navbar-nav > li > a:focus:hover, #mainNav .navbar-nav > li > a:focus:focus:hover {
        color: #f81e26; }

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent; }
    #mainNav .navbar-brand {
      color: #f81e26; }
      #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
        color: #717171; }
    #mainNav .navbar-nav > li > a {
      color: #717171;
      font-family: "Roboto", sans-serif; }
      #mainNav .navbar-nav > li > a:focus {
        color: rgba(248, 30, 38, 0.7); }
      #mainNav .navbar-nav > li > a:hover, #mainNav .navbar-nav > li > a:focus:hover {
        color: rgba(248, 30, 38, 0.7); }
    #mainNav.navbar-shrink {
      border-color: rgba(113, 113, 113, 0.1);
      background-color: #f1f1f1; }
      #mainNav.navbar-shrink .navbar-brand {
        color: #f1f1f1; }
        #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
          color: #f81e26; }
      #mainNav.navbar-shrink .navbar-nav > li > a {
        color: #f1f1f1; }
        #mainNav.navbar-shrink .navbar-nav > li > a:focus {
          color: #f1f1f1; }
        #mainNav.navbar-shrink .navbar-nav > li > a:hover, #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
          color: #f81e26; } }

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  background: #f1f1f1; }
  header.masthead .header-content {
    max-width: 100%;
    margin-bottom: 0px;
    text-align: center; }
    header.masthead .header-content h1 {
      font-size: 4rem;
      font-family: "Circular Std Book";
      position: relative;
      display: block;
      width: 100%;
      height: 8rem; }
      header.masthead .header-content h1::before {
        content: url(../images/nombre.png);
        position: absolute;
        top: -5rem;
        left: 0;
        width: 100%; }
      header.masthead .header-content h1::after {
        content: "";
        position: absolute;
        bottom: 1.25rem;
        left: 25%;
        width: 50%;
        height: 1rem;
        background-color: #181818; }
    header.masthead .header-content p {
      font-size: 2rem;
      font-family: "Roboto", sans-serif;
      margin-top: 1.25rem; }
  header.masthead .device-container {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto; }
    header.masthead .device-container .screen {
      z-index: 1;
      position: relative; }
      header.masthead .device-container .screen img {
        border-radius: 3px; }

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0; }
    header.masthead .header-content {
      margin-bottom: 0;
      text-align: left; }
      header.masthead .header-content h1 {
        font-size: 2rem;
        width: 100%;
        height: 3.5rem; }
        header.masthead .header-content h1:before {
          top: -3.5rem;
          left: 0rem;
          transform-origin: left bottom;
          transform: scale(0.6); }
        header.masthead .header-content h1:after {
          content: "";
          position: absolute;
          bottom: 1rem;
          left: 0;
          width: 15%;
          height: .25rem;
          background-color: #181818; }
      header.masthead .header-content h2 {
        height: 10rem;
        font-size: 2.7rem;
        color: #f81e26;
        font-family: "Circular Std Black Italic"; }
      header.masthead .header-content p {
        font-size: 1.25rem;
        font-family: "Roboto", sans-serif;
        margin: .312rem 0rem 0rem 0rem; }
    header.masthead .device-container {
      max-width: 100%; } }

/*Nosotros*/
#nosotros {
  height: 100vh;
  min-height: 775px;
  padding-top: 6rem;
  padding-bottom: 0; }
  #nosotros figure {
    position: relative;
    z-index: 0; }
    #nosotros figure::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: #f81e26;
      position: absolute;
      top: -6rem;
      left: -5rem;
      z-index: -1; }
  #nosotros .title {
    color: #717171;
    font-family: "Circular Std Black Italic";
    font-size: 4rem;
    text-transform: uppercase; }
  #nosotros p {
    color: #181818;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-align: center; }
  @media (min-width: 992px) {
    #nosotros figure {
      position: relative;
      z-index: 0; }
      #nosotros figure::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #f81e26;
        position: absolute;
        top: -2rem;
        left: -5rem;
        z-index: -1; }
    #nosotros .title {
      color: #717171;
      font-family: "Circular Std Black Italic";
      font-size: 4rem;
      text-transform: uppercase;
      position: relative; }
      #nosotros .title::before {
        content: "";
        width: 25%;
        height: 1rem;
        background-color: #f81e26;
        position: absolute;
        bottom: -1rem;
        left: 5%; }
    #nosotros p {
      color: #313131;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 1.25rem;
      text-align: left; } }

/*Servicios*/
#servicios {
  height: 100vh;
  min-height: 775px;
  padding-top: 6rem;
  padding-bottom: 0; }
  #servicios .title {
    color: #313131;
    font-family: "Circular Std Black Italic";
    font-size: 4rem;
    text-transform: uppercase;
    position: relative;
    text-align: center; }
  #servicios .services {
    list-style: none;
    height: 15vh;
    margin-bottom: 5rem;
    z-index: 0;
    position: relative; }
    #servicios .services::before {
      content: "";
      width: 13%;
      height: 100%;
      position: absolute;
      left: -1rem;
      bottom: -1rem;
      background-color: #cbcbcb;
      z-index: -1;
      box-shadow: 34.25rem -2rem 0rem #313131; }
    #servicios .services::after {
      content: "";
      width: 13%;
      height: 100%;
      position: absolute;
      right: -1rem;
      bottom: -1rem;
      background-color: #4b4b4b;
      z-index: -1; }
    #servicios .services li {
      background-color: #f1f1f1;
      z-index: 1;
      height: 9rem;
      position: relative; }

/*# sourceMappingURL=style.css.map */